html{
  overflow: hidden;
}

:root {
    /*Colors*/
    --primary: #ff3838 !important;
    --secondary: #ff5e57 !important;
    --grey: #e4e3e3 !important;
    --dark: #343a40 !important;
    --very-dark: #212224 !important;
    --black: #000000 !important;
    --white: #ffffff !important;
    /*font family*/
    --txt: 'Quicksand', sans-serif;
    --logo: 'Pacifico', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background: var(--very-dark); 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
